# Web Framework and Server
fastapi==0.116.1
uvicorn==0.35.0
gunicorn==23.0.0

# Telegram and Bot functionality
Pyrogram==2.0.106
TgCrypto==1.2.5
pyromod==3.1.6

# Other Utilities
requests==2.32.4
yt-dlp==2025.07.21
